<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Appium Suite">
  <test name="Appium Test">
    <classes>
      <class name="com.maven.appium.DragAndDropTestNGDemo"/>
    </classes>
  </test> <!-- Appium Test -->
</suite> <!-- Appium Suite -->
